.main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min(65ch, calc(100% - 64px)) 1fr;
    grid-column-gap: 32px;

    & > * {
        grid-column: 2;
    }
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 5rem;
    color: var(--color-secondary);
}

.description {
    line-height: 0.8;
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 0;
}
